In [23]:
library("magrittr")
library("dplyr")

In [22]:
cat("################## coupon_area_test ##################")
coupon_area_test <- read.csv("./data/coupon_area_test.csv")
head(coupon_area_test)
summary(coupon_area_test)

cat("################## coupon_area_train ##################")
coupon_area_train <- read.csv("./data/coupon_area_train.csv")
head(coupon_area_train)
summary(coupon_area_train)

cat("################## coupon_detail_train ##################")
coupon_detail_train <- read.csv("./data/coupon_detail_train.csv")
coupon_detail_train$I_DATE %<>% as.POSIXct
head(coupon_detail_train)
summary(coupon_detail_train)

cat("################## coupon_list_test ##################")
coupon_list_test <- read.csv("./data/coupon_list_test.csv")
coupon_list_test$DISPFROM %<>% as.POSIXct
coupon_list_test$DISPEND %<>% as.POSIXct
coupon_list_test$VALIDFROM %<>% as.POSIXct
coupon_list_test$VALIDEND %<>% as.POSIXct
head(coupon_list_test)
summary(coupon_list_test)

cat("################## coupon_list_train ##################")
coupon_list_train <- read.csv("./data/coupon_list_train.csv")
coupon_list_train$DISPFROM %<>% as.POSIXct
coupon_list_train$DISPEND %<>% as.POSIXct
coupon_list_train$VALIDFROM %<>% as.POSIXct
coupon_list_train$VALIDEND %<>% as.POSIXct
head(coupon_list_train)
summary(coupon_list_train)

################## coupon_area_test ##################

         SMALL_AREA_NAME PREF_NAME                   COUPON_ID_hash
1                   京都    京都府 c76ea297ebd3a5a4d3bf9f75269f66fa
2               ミナミ他    大阪府 c76ea297ebd3a5a4d3bf9f75269f66fa
3 銀座・新橋・東京・上野    東京都 dd74dc95ca294afa02db40a543ae1763
4     川崎・湘南・箱根他  神奈川県 c65b550cbef918796ad53b1d5b7165c1
5                   埼玉    埼玉県 c65b550cbef918796ad53b1d5b7165c1
6                   横浜  神奈川県 c65b550cbef918796ad53b1d5b7165c1

               SMALL_AREA_NAME    PREF_NAME
 銀座・新橋・東京・上野:  68   東京都  : 371
 キタ                  :  63   神奈川県: 116
 横浜                  :  58   大阪府  : 114
 千葉                  :  58   千葉県  :  58
 川崎・湘南・箱根他    :  58   兵庫県  :  58
 兵庫                  :  58   埼玉県  :  52
 (Other)               :1802   (Other) :1396
                          COUPON_ID_hash
 53e6af8b95c14358a345910643a85382:  30
 c3e584b0a1275b2878ece81f2b09a94a:  25
 97bab5a07fe422716e899f452d6beff2:  21
 5723e6dc3cfcdb73119e91c9bd37fd1b:  20
 cd6752acd088c699d4f76c2252ea4458:  18
 2442e2942cb09f25359eb0f4ef9c2eac:  17
 (Other)                         :2034

################## coupon_area_train ##################

  SMALL_AREA_NAME PREF_NAME                   COUPON_ID_hash
1            埼玉    埼玉県 6b263844241eea98c5a97f1335ea82af
2            千葉    千葉県 cc031f250e8bad1e24060263b9fc0ddd
3            千葉    千葉県 ba5e9b7453ca52ff711635a5d2e8102d
4            千葉    千葉県 3e1ffbedca3569f9e8032d401e8cb4e6
5            千葉    千葉県 782934b6c815b4030ea204eef7d4a734
6            千葉    千葉県 439db4336f84d4e4a13290fc0d7e6c4e

                     SMALL_AREA_NAME      PREF_NAME
 キタ                        :  3596   東京都  :19720
 ミナミ他                    :  3346   大阪府  : 6942
 銀座・新橋・東京・上野      :  3298   神奈川県: 6152
 愛知                        :  3275   愛知県  : 3275
 新宿・高田馬場・中野・吉祥寺:  3222   福岡県  : 3135
 横浜                        :  3206   埼玉県  : 3035
 (Other)                     :118242   (Other) :95926
                          COUPON_ID_hash
 102f4950a16930bdeb0608ed6ce4d36a:    55
 121321128607aee70bc78fe70f7d0de2:    55
 16072ed5923d881dbe503c3d58661f3c:    55
 171acaa42013139c655bf662f69626a9:    55
 1a0f8f886dc9393a5fc372749e267269:    55
 3326789b435201edb977c9d7b8ac6398:    55
 (Other)                         :137855

################## coupon_detail_train ##################

  ITEM_COUNT              I_DATE        SMALL_AREA_NAME
1          1 2012-03-28 15:06:06                   兵庫
2          1 2011-07-04 23:52:54 銀座・新橋・東京・上野
3          1 2011-07-16 00:52:49     恵比寿・目黒・品川
4          1 2011-07-16 00:54:53     恵比寿・目黒・品川
5          1 2011-07-16 00:55:52     恵比寿・目黒・品川
6          1 2011-07-16 00:57:09     恵比寿・目黒・品川
                   PURCHASEID_hash                     USER_ID_hash
1 c820a8882374a4e472f0984a8825893f d9dca3cb44bab12ba313eaa681f663eb
2 1b4eb2435421ede98c8931c42e8220ec 560574a339f1b25e57b0221e486907ed
3 36b5f9ba46c44b65587d0b16f2e4c77f 560574a339f1b25e57b0221e486907ed
4 2f30f46937cc9004774e576914b2aa1a 560574a339f1b25e57b0221e486907ed
5 4d000c64a55ac573d0ae1a8f03677f50 560574a339f1b25e57b0221e486907ed
6 d8b030c8a4a2c1051997092a2985b373 560574a339f1b25e57b0221e486907ed
                    COUPON_ID_hash
1 34c48f84026e08355dc3bd19b427f09a
2 767673b7a777854a92b73b0934ddfae7
3 4f3b5b91d9831192557c056022fdc1f2
4 4f3b5b91d9831192557c056022fdc1f2
5 4f3b5b91d9831192557c056022fdc1f2
6 4f3b5b91d9831192557c056022fdc1f2

   ITEM_COUNT         I_DATE
 Min.   : 1.000   Min.   :2011-07-01 00:10:42
 1st Qu.: 1.000   1st Qu.:2011-09-30 06:19:55
 Median : 1.000   Median :2011-12-21 14:03:47
 Mean   : 1.431   Mean   :2011-12-28 16:47:27
 3rd Qu.: 2.000   3rd Qu.:2012-03-28 13:00:53
 Max.   :55.000   Max.   :2012-06-23 23:54:47

                     SMALL_AREA_NAME                          PURCHASEID_hash
 新宿・高田馬場・中野・吉祥寺:27309   0000655d8c1e67679c3c1a8887a97d10:     1
 銀座・新橋・東京・上野      :13719   000070a349d31e5e1ddf9b8ca0e64a2d:     1
 キタ                        :10334   0000b7b35ffe5f021cea99f151b62bf8:     1
 ミナミ他                    : 9493   000138d60435397458844b78bbeb7ace:     1
 渋谷・青山・自由が丘        : 8627   00019fe96b80a1c1ce4b6ed2727ca40c:     1
 池袋・神楽坂・赤羽          : 6973   0001a0de33ac2c38b77f2854f250ab03:     1
 (Other)                     :92541   (Other)                         :168990
                           USER_ID_hash
 acd5e20541a5177e039835cef949d38d:   101
 01f61f5948da9c6c47bc47e6a959d48c:    89
 8a74bbcbdf2290988e92b4f0a52e57a7:    87
 e229db6f4d3554b8b96a8c04582b50eb:    86
 e5ce4e00a1d90a6951940fea4acdd61b:    86
 4c20177df5716ba57105ba5d9ed3c460:    84
 (Other)                         :168463
                          COUPON_ID_hash
 a262c7ff56a5cd3de3c5c40443f3018c:  5760
 3d9029d3ec66802b11ee2645dc16e8cb:  1511
 09411858ae07c0be91aeeddacf4556b4:  1016
 7fc6567f470af5356ae97097dbe18486:   863
 bf69bd9e0e26fa1f62243d1fcada38f1:   663
 047fb1f23d8cedea8cb86956cfd4b7cf:   628
 (Other)                         :158555

################## coupon_list_test ##################

  CAPSULE_TEXT GENRE_NAME PRICE_RATE CATALOG_PRICE DISCOUNT_PRICE
1       グルメ     グルメ         52          5659           2690
2       グルメ     グルメ         52         18000           8500
3       グルメ     グルメ         51          7200           3480
4       グルメ     グルメ         50          3300           1650
5       グルメ     グルメ         56          3650           1600
6       グルメ     グルメ         50         12600           6300
             DISPFROM             DISPEND DISPPERIOD  VALIDFROM   VALIDEND
1 2012-06-26 12:00:00 2012-06-30 12:00:00          4 2012-07-01 2012-10-27
2 2012-06-27 12:00:00 2012-07-04 12:00:00          7 2012-07-05 2012-10-13
3 2012-06-28 12:00:00 2012-07-05 12:00:00          7 2012-07-06 2012-12-28
4 2012-06-24 12:00:00 2012-06-29 12:00:00          5 2012-06-30 2012-10-31
5 2012-06-26 12:00:00 2012-07-03 12:00:00          7 2012-07-04 2012-11-10
6 2012-06-28 12:00:00 2012-07-05 12:00:00          7 2012-07-09 2012-12-12
  VALIDPERIOD USABLE_DATE_MON USABLE_DATE_TUE USABLE_DATE_WED USABLE_DATE_THU
1         118               1               1               1               1
2         100               1               1               1               1
3         175               1               1               1               1
4         123               1               1               1               1
5         129               1               1               1               1
6         156               1               1               1               1
  USABLE_DATE_FRI USABLE_DATE_SAT USABLE_DATE_SUN USABLE_DATE_HOLIDAY
1               1               1               1                   1
2               1               1               0                   0
3               1               1               1                   1
4               2               2               1                   1
5               1               1               1                   1
6               1               1               0                   0
  USABLE_DATE_BEFORE_HOLIDAY large_area_name ken_name        small_area_name
1                          1            関西   大阪府               ミナミ他
2                          1            関東   東京都 銀座・新橋・東京・上野
3                          1            関東 神奈川県                   横浜
4                          2            関西   兵庫県                   兵庫
5                          1            東海   愛知県                   愛知
6                          1            関東   東京都 銀座・新橋・東京・上野
                    COUPON_ID_hash
1 c76ea297ebd3a5a4d3bf9f75269f66fa
2 dd74dc95ca294afa02db40a543ae1763
3 c65b550cbef918796ad53b1d5b7165c1
4 f93dc6e223935d817e1237f8f73b56a2
5 86c64391318f1d751647bf8e1882cf1d
6 78aec0e250021cf5247986f6ca55a47e

           CAPSULE_TEXT            GENRE_NAME   PRICE_RATE   CATALOG_PRICE
 宅配            :89    宅配            :89   Min.   :50.0   Min.   :   500
 グルメ          :55    ホテル・旅館    :59   1st Qu.:50.0   1st Qu.:  4010
 ホテル          :33    グルメ          :55   Median :57.0   Median :  7875
 ヘアサロン      :25    ヘアサロン      :25   Mean   :60.6   Mean   : 13652
 旅館            :24    リラクゼーション:21   3rd Qu.:70.0   3rd Qu.: 14708
 リラクゼーション:21    ネイル・アイ    :17   Max.   :95.0   Max.   :149700
 (Other)         :63    (Other)         :44
 DISCOUNT_PRICE     DISPFROM                      DISPEND
 Min.   :  100   Min.   :2012-06-24 12:00:00   Min.   :2012-06-27 12:00:00
 1st Qu.: 1792   1st Qu.:2012-06-25 12:00:00   1st Qu.:2012-06-29 12:00:00
 Median : 2980   Median :2012-06-26 12:00:00   Median :2012-07-01 12:00:00
 Mean   : 4699   Mean   :2012-06-27 01:19:32   Mean   :2012-07-01 13:00:23
 3rd Qu.: 5188   3rd Qu.:2012-06-28 12:00:00   3rd Qu.:2012-07-03 12:00:00
 Max.   :39800   Max.   :2012-06-30 12:00:00   Max.   :2012-07-11 12:00:00

   DISPPERIOD       VALIDFROM                      VALIDEND
 Min.   : 2.000   Min.   :2012-06-28 00:00:00   Min.   :2012-07-21 00:00:00
 1st Qu.: 4.000   1st Qu.:2012-07-01 00:00:00   1st Qu.:2012-09-30 00:00:00
 Median : 4.000   Median :2012-07-03 00:00:00   Median :2012-10-31 00:00:00
 Mean   : 4.487   Mean   :2012-07-04 03:01:40   Mean   :2012-10-30 04:35:53
 3rd Qu.: 5.000   3rd Qu.:2012-07-05 00:00:00   3rd Qu.:2012-12-01 00:00:00
 Max.   :13.000   Max.   :2012-09-01 00:00:00   Max.   :2012-12-31 00:00:00
                  NA's   :96                    NA's   :96
  VALIDPERIOD     USABLE_DATE_MON USABLE_DATE_TUE  USABLE_DATE_WED
 Min.   :  0.00   Min.   :0.000   Min.   :0.0000   Min.   :0.0000
 1st Qu.: 89.25   1st Qu.:1.000   1st Qu.:1.0000   1st Qu.:1.0000
 Median :119.00   Median :1.000   Median :1.0000   Median :1.0000
 Mean   :118.07   Mean   :0.933   Mean   :0.9282   Mean   :0.9952
 3rd Qu.:151.00   3rd Qu.:1.000   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :178.00   Max.   :2.000   Max.   :2.0000   Max.   :2.0000
 NA's   :96       NA's   :101     NA's   :101      NA's   :101
 USABLE_DATE_THU  USABLE_DATE_FRI USABLE_DATE_SAT USABLE_DATE_SUN
 Min.   :0.0000   Min.   :0.000   Min.   :0.000   Min.   :0.0000
 1st Qu.:1.0000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1.0000
 Median :1.0000   Median :1.000   Median :1.000   Median :1.0000
 Mean   :0.9761   Mean   :1.014   Mean   :1.124   Mean   :0.9378
 3rd Qu.:1.0000   3rd Qu.:1.000   3rd Qu.:1.000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :2.000   Max.   :2.000   Max.   :2.0000
 NA's   :101      NA's   :101     NA's   :101     NA's   :101
 USABLE_DATE_HOLIDAY USABLE_DATE_BEFORE_HOLIDAY   large_area_name
 Min.   :0.0000      Min.   :0.000              関東      :153
 1st Qu.:1.0000      1st Qu.:1.000              関西      : 65
 Median :1.0000      Median :1.000              東海      : 26
 Mean   :0.9474      Mean   :1.086              九州・沖縄: 23
 3rd Qu.:1.0000      3rd Qu.:1.000              北海道    : 16
 Max.   :2.0000      Max.   :2.000              北信越    : 11
 NA's   :101         NA's   :101                (Other)   : 16
     ken_name                 small_area_name
 東京都  :107   銀座・新橋・東京・上野: 46
 大阪府  : 39   キタ                  : 22
 神奈川県: 24   恵比寿・目黒・品川    : 19
 愛知県  : 16   ミナミ他              : 17
 兵庫県  : 16   愛知                  : 16
 北海道  : 16   横浜                  : 16
 (Other) : 92   (Other)               :174
                          COUPON_ID_hash
 007dce05be7f473f362e79bfe7256736:  1
 00fcc93438a282f8b915777a209dd0bd:  1
 01023eac71c13f529f43cfb691d914c9:  1
 0147fd072c6ef4e299d428f19a5f0e01:  1
 017956f30c352df708358a6d1219fb12:  1
 01f995ae8c168d5eb7b0fd69cf8ee6b2:  1
 (Other)                         :304

################## coupon_list_train ##################

  CAPSULE_TEXT GENRE_NAME PRICE_RATE CATALOG_PRICE DISCOUNT_PRICE
1       グルメ     グルメ         50          3000           1500
2       グルメ     グルメ         51          2080           1000
3       グルメ     グルメ         50          7000           3500
4       グルメ     グルメ         50          3000           1500
5       グルメ     グルメ         50          2000           1000
6       グルメ     グルメ         50          4000           2000
             DISPFROM             DISPEND DISPPERIOD  VALIDFROM   VALIDEND
1 2011-07-08 12:00:00 2011-07-09 12:00:00          1 2011-07-10 2011-12-08
2 2011-07-01 12:00:00 2011-07-02 12:00:00          1 2011-07-03 2011-12-04
3 2011-07-12 12:00:00 2011-07-15 12:00:00          3 2011-07-16 2012-01-11
4 2011-07-09 12:00:00 2011-07-11 12:00:00          2 2011-07-12 2011-12-01
5 2011-07-05 12:00:00 2011-07-06 12:00:00          1 2011-07-07 2011-12-30
6 2011-07-24 12:00:00 2011-07-26 12:00:00          2 2011-07-27 2011-10-30
  VALIDPERIOD USABLE_DATE_MON USABLE_DATE_TUE USABLE_DATE_WED USABLE_DATE_THU
1         151               1               1               1               1
2         154               1               1               1               1
3         179               0               1               1               1
4         142               1               1               1               1
5         176               1               1               0               1
6          95               0               1               1               1
  USABLE_DATE_FRI USABLE_DATE_SAT USABLE_DATE_SUN USABLE_DATE_HOLIDAY
1               0               0               1                   1
2               1               1               1                   1
3               1               1               1                   1
4               0               0               1                   1
5               0               0               1                   1
6               1               1               1                   1
  USABLE_DATE_BEFORE_HOLIDAY large_area_name ken_name small_area_name
1                          0            関東   埼玉県            埼玉
2                          1            関東   千葉県            千葉
3                          1            関東   千葉県            千葉
4                          1            関東   千葉県            千葉
5                          0            関東   千葉県            千葉
6                          1            関東   千葉県            千葉
                    COUPON_ID_hash
1 6b263844241eea98c5a97f1335ea82af
2 cc031f250e8bad1e24060263b9fc0ddd
3 ba5e9b7453ca52ff711635a5d2e8102d
4 3e1ffbedca3569f9e8032d401e8cb4e6
5 782934b6c815b4030ea204eef7d4a734
6 439db4336f84d4e4a13290fc0d7e6c4e

           CAPSULE_TEXT             GENRE_NAME     PRICE_RATE
 宅配            :5841   宅配            :5841   Min.   :  0.00
 グルメ          :3658   グルメ          :3658   1st Qu.: 50.00
 ホテル          :1943   ホテル・旅館    :3570   Median : 53.00
 ヘアサロン      :1436   ヘアサロン      :1436   Mean   : 58.48
 旅館            :1351   リラクゼーション:1089   3rd Qu.: 65.00
 リラクゼーション:1089   その他のクーポン: 873   Max.   :100.00
 (Other)         :4095   (Other)         :2946
 CATALOG_PRICE    DISCOUNT_PRICE      DISPFROM
 Min.   :     1   Min.   :     0   Min.   :2011-06-27 12:00:00
 1st Qu.:  3675   1st Qu.:  1550   1st Qu.:2011-09-24 12:00:00
 Median :  6500   Median :  2750   Median :2011-12-20 12:00:00
 Mean   : 11818   Mean   :  4333   Mean   :2011-12-23 00:01:30
 3rd Qu.: 13650   3rd Qu.:  4800   3rd Qu.:2012-03-17 12:00:00
 Max.   :680000   Max.   :100000   Max.   :2012-06-23 12:00:00

    DISPEND                      DISPPERIOD       VALIDFROM
 Min.   :2011-07-01 12:00:00   Min.   : 0.000   Min.   :2011-07-02 00:00:00
 1st Qu.:2011-09-26 12:00:00   1st Qu.: 2.000   1st Qu.:2011-10-01 00:00:00
 Median :2011-12-23 12:00:00   Median : 3.000   Median :2012-01-04 00:00:00
 Mean   :2011-12-26 04:01:53   Mean   : 3.167   Mean   :2011-12-31 20:03:41
 3rd Qu.:2012-03-21 12:00:00   3rd Qu.: 4.000   3rd Qu.:2012-03-27 00:00:00
 Max.   :2012-06-30 12:00:00   Max.   :36.000   Max.   :2012-09-02 00:00:00
                                                NA's   :6147
    VALIDEND                    VALIDPERIOD   USABLE_DATE_MON USABLE_DATE_TUE
 Min.   :2011-07-15 00:00:00   Min.   :  0    Min.   :0.000   Min.   :0.000
 1st Qu.:2012-02-26 00:00:00   1st Qu.: 89    1st Qu.:1.000   1st Qu.:1.000
 Median :2012-04-29 00:00:00   Median :128    Median :1.000   Median :1.000
 Mean   :2012-05-05 19:00:11   Mean   :126    Mean   :0.936   Mean   :0.954
 3rd Qu.:2012-07-31 00:00:00   3rd Qu.:177    3rd Qu.:1.000   3rd Qu.:1.000
 Max.   :2012-12-25 00:00:00   Max.   :179    Max.   :2.000   Max.   :2.000
 NA's   :6147                  NA's   :6147   NA's   :7005    NA's   :7005
 USABLE_DATE_WED USABLE_DATE_THU USABLE_DATE_FRI USABLE_DATE_SAT
 Min.   :0.000   Min.   :0.000   Min.   :0       Min.   :0.000
 1st Qu.:1.000   1st Qu.:1.000   1st Qu.:1       1st Qu.:1.000
 Median :1.000   Median :1.000   Median :1       Median :1.000
 Mean   :0.982   Mean   :0.982   Mean   :1       Mean   :1.068
 3rd Qu.:1.000   3rd Qu.:1.000   3rd Qu.:1       3rd Qu.:1.000
 Max.   :2.000   Max.   :2.000   Max.   :2       Max.   :2.000
 NA's   :7005    NA's   :7005    NA's   :7005    NA's   :7005
 USABLE_DATE_SUN USABLE_DATE_HOLIDAY USABLE_DATE_BEFORE_HOLIDAY
 Min.   :0.000   Min.   :0.000       Min.   :0.000
 1st Qu.:1.000   1st Qu.:1.000       1st Qu.:1.000
 Median :1.000   Median :1.000       Median :1.000
 Mean   :0.921   Mean   :0.938       Mean   :1.044
 3rd Qu.:1.000   3rd Qu.:1.000       3rd Qu.:1.000
 Max.   :2.000   Max.   :2.000       Max.   :2.000
 NA's   :7005    NA's   :7005        NA's   :7005
   large_area_name     ken_name                        small_area_name
 関東      :9503   東京都  :6775   銀座・新橋・東京・上野      : 2325
 関西      :3575   大阪府  :2189   新宿・高田馬場・中野・吉祥寺: 1341
 東海      :1733   神奈川県:1379   キタ                        : 1175
 九州・沖縄:1660   愛知県  : 893   ミナミ他                    : 1014
 北海道    : 850   兵庫県  : 867   愛知                        :  893
 北信越    : 758   北海道  : 850   渋谷・青山・自由が丘        :  889
 (Other)   :1334   (Other) :6460   (Other)                     :11776
                          COUPON_ID_hash
 000eba9b783cec10658308b5836349f6:    1
 000fb2d3790cd8860e337290db189abe:    1
 000fe109aea0546a32ffbe54091297e1:    1
 0011e840cca696983ed110480652934f:    1
 00162df8b3899cc06de61da170165fea:    1
 00188e040b80a934429aecbdad7fe01c:    1
 (Other)                         :19407

In [13]:
cat("################## coupon_visit_train ##################")
# 型を指定して読み込むために一部データを取得
coupon_visit_train <- read.csv("./data/coupon_visit_train.csv",nrow=100)
classes <- sapply(coupon_visit_train, class)
# classes
classes["I_DATE"]<-"POSIXct"

start<-Sys.time()
# 全件読み込み
coupon_visit_train <- read.csv("./data/coupon_visit_train.csv", colClasses = classes)
head(coupon_visit_train)
summary(coupon_visit_train)

end<-Sys.time()

print(c(start,end))

################## coupon_visit_train ##################

       PURCHASE_FLG              I_DATE         PAGE_SERIAL       REFERRER_hash
          "integer"            "factor"           "integer"            "factor"
VIEW_COUPON_ID_hash        USER_ID_hash     SESSION_ID_hash     PURCHASEID_hash
           "factor"            "factor"            "factor"            "factor"

  PURCHASE_FLG              I_DATE PAGE_SERIAL                    REFERRER_hash
1            0 2012-03-28 14:15:00           7 7d3892e54acb559ae36c459978489330
2            0 2012-03-28 14:17:28           9 7d3892e54acb559ae36c459978489330
3            0 2012-03-28 14:20:05          16 7d3892e54acb559ae36c459978489330
4            0 2012-03-28 14:23:16          18 7d3892e54acb559ae36c459978489330
5            0 2012-03-28 14:26:25          20 7d3892e54acb559ae36c459978489330
6            0 2012-03-28 14:29:58          23 7d3892e54acb559ae36c459978489330
               VIEW_COUPON_ID_hash                     USER_ID_hash
1 34c48f84026e08355dc3bd19b427f09a d9dca3cb44bab12ba313eaa681f663eb
2 34c48f84026e08355dc3bd19b427f09a d9dca3cb44bab12ba313eaa681f663eb
3 17c450c3b470c045d35ec22b02daa690 d9dca3cb44bab12ba313eaa681f663eb
4 91a15e6a95d09e5e01b50747833b317d d9dca3cb44bab12ba313eaa681f663eb
5 96fcbc8f6e45d5a2de1661eb140c6e82 d9dca3cb44bab12ba313eaa681f663eb
6 91a15e6a95d09e5e01b50747833b317d d9dca3cb44bab12ba313eaa681f663eb
                   SESSION_ID_hash PURCHASEID_hash
1 673af822615593249e7c6a9a1a6bbb1a
2 673af822615593249e7c6a9a1a6bbb1a
3 673af822615593249e7c6a9a1a6bbb1a
4 673af822615593249e7c6a9a1a6bbb1a
5 673af822615593249e7c6a9a1a6bbb1a
6 673af822615593249e7c6a9a1a6bbb1a

  PURCHASE_FLG        I_DATE                     PAGE_SERIAL
 Min.   :0.0000   Min.   :2011-07-01 00:00:41   Min.   :   1.000
 1st Qu.:0.0000   1st Qu.:2011-10-09 21:35:13   1st Qu.:   2.000
 Median :0.0000   Median :2012-01-08 13:46:48   Median :   4.000
 Mean   :0.0432   Mean   :2012-01-03 21:39:47   Mean   :   7.655
 3rd Qu.:0.0000   3rd Qu.:2012-03-28 02:44:20   3rd Qu.:   9.000
 Max.   :1.0000   Max.   :2012-06-23 23:59:48   Max.   :1368.000

                          REFERRER_hash
 7d3892e54acb559ae36c459978489330:1261367
 48243ea50a35bb107fafd46a461b0b28: 165289
 e9aa24dbfd84b5ba97ebd8c0f50e7949: 115895
 6c5616ced18d79fa5a97c5c8f3e65f8f: 112544
 1280d2e94c507864438af604104545e4:  67473
 ae75a8764951d2454273df8348dac8f3:  40910
 (Other)                         :1069702
                       VIEW_COUPON_ID_hash
 a262c7ff56a5cd3de3c5c40443f3018c:  14779
 d0e1b63cb7cc32edc3a6c619e4215368:   3368
 3d9029d3ec66802b11ee2645dc16e8cb:   3126
 39c215bfdebc9c2e945d4f63cb25a58d:   2751
 09411858ae07c0be91aeeddacf4556b4:   2645
 229ff5cc21c8d26615493be7f3b42841:   2626
 (Other)                         :2803885
                           USER_ID_hash
 322a3a65e6683b6881eeb0b1a889e3f4:   3629
 070a8c47e1ced81abe33aec7fe371f96:   3437
 9ec57756932f97bb57a02c4ad864ad3e:   2968
 9e8986dddf308bb2a8873e5084fbf355:   2756
 8b4acd809e6714ac4ad267d0d2dd86c6:   2749
 16c2d6f1c98ee2095abedac8b70d1df5:   2739
 (Other)                         :2814902
                         SESSION_ID_hash
 9773201fcac000edd128bfaec1c833d4:    159
 5bacfe0725372fbeb4d94c65f45356d1:    150
 b084c2bdc5ef9da44b0cda042897b643:    133
 60ade1a155e57c0035456cfff0b0bb98:    122
 dda2332a3c3970ad4c4c1e2a0dea631e:    101
 acdffce59ee4249b771f70ef6c4441c3:    100
 (Other)                         :2832415
                         PURCHASEID_hash
                                 :2710791
 bcf543f8ec0aa8586cf6d4ab2bd8848d:     29
 32641c6b9c2b495a1a9414e90bcf797c:     14
 87123900790edccab3c49e530e77ab90:     13
 02734ec5bf0756e0f2d3bcbda810796c:      8
 54a072fad25f018d101e78bc93941594:      8
 (Other)                         : 122317

[1] "2015-08-27 13:26:23 JST" "2015-08-27 13:27:56 JST"

In [24]:
cat("################## prefecture_locations ##################")
prefecture_locations <- read.csv("./data/prefecture_locations.csv")
head(prefecture_locations)
summary(prefecture_locations)

################## prefecture_locations ##################

  PREF_NAME PREFECTUAL_OFFICE LATITUDE LONGITUDE
1    北海道            札幌市 43.06397  141.3479
2    青森県            青森市 40.82462  140.7406
3    岩手県            盛岡市 39.70353  141.1527
4    宮城県            仙台市 38.26884  140.8721
5    秋田県            秋田市 39.71860  140.1023
6    山形県            山形市 38.24044  140.3636

   PREF_NAME   PREFECTUAL_OFFICE    LATITUDE       LONGITUDE
 愛知県 : 1   さいたま市: 1      Min.   :26.21   Min.   :127.7
 愛媛県 : 1   宇都宮市  : 1      1st Qu.:34.21   1st Qu.:133.3
 茨城県 : 1   横浜市    : 1      Median :35.18   Median :136.2
 岡山県 : 1   岡山市    : 1      Mean   :35.38   Mean   :136.0
 沖縄県 : 1   岐阜市    : 1      3rd Qu.:36.48   3rd Qu.:139.6
 岩手県 : 1   宮崎市    : 1      Max.   :43.06   Max.   :141.3
 (Other):41   (Other)   :41

In [28]:
cat("################## sample_submission ##################")
sample_submission <- read.csv("./data/sample_submission.csv")
head(sample_submission)
summary(sample_submission)
sample_submission$PURCHASED_COUPONS %>% unique %>% head

################## sample_submission ##################

                      USER_ID_hash PURCHASED_COUPONS
1 0000b53e182165208887ba65c079fc21                NA
2 00035b86e6884589ec8d28fbf2fe7757                NA
3 0005b1068d5f2b8f2a7c978fcfe1ca06                NA
4 000cc06982785a19e2a2fdb40b1c9d59                NA
5 0013518e41c416cd6a181d277dd8ca0b                NA
6 001acdee812a18acfd7509172bed5700                NA

                           USER_ID_hash   PURCHASED_COUPONS
 0000b53e182165208887ba65c079fc21:    1   Mode:logical
 00035b86e6884589ec8d28fbf2fe7757:    1   NA's:22873
 0005b1068d5f2b8f2a7c978fcfe1ca06:    1
 000cc06982785a19e2a2fdb40b1c9d59:    1
 0013518e41c416cd6a181d277dd8ca0b:    1
 001acdee812a18acfd7509172bed5700:    1
 (Other)                         :22867

[1] NA

In [26]:
cat("################## user_list ##################")
user_list <- read.csv("./data/user_list.csv")
user_list$REG_DATE %<>% as.POSIXct
user_list$WITHDRAW_DATE %<>% as.POSIXct
head(user_list)
summary(user_list)

################## user_list ##################

             REG_DATE SEX_ID AGE WITHDRAW_DATE PREF_NAME
1 2012-03-28 14:14:18      f  25          <NA>
2 2011-05-18 00:41:48      f  34          <NA>    東京都
3 2011-06-13 16:36:58      m  41          <NA>    愛知県
4 2012-02-08 12:56:15      m  25          <NA>
5 2011-05-22 23:43:56      m  62          <NA>  神奈川県
6 2011-05-27 16:17:19      f  50          <NA>    広島県
                      USER_ID_hash
1 d9dca3cb44bab12ba313eaa681f663eb
2 560574a339f1b25e57b0221e486907ed
3 e66ae91b978b3229f8fd858c80615b73
4 43fc18f32eafb05713ec02935e2c2825
5 dc6df8aa860f8db0d710ce9d4839840f
6 f430e8302c1fd0915bce0c068ecb2f82

    REG_DATE                   SEX_ID         AGE
 Min.   :2010-07-21 13:44:02   f:10983   Min.   :15.0
 1st Qu.:2011-02-23 16:54:37   m:11890   1st Qu.:33.0
 Median :2011-07-07 17:28:47             Median :41.0
 Mean   :2011-07-14 07:50:56             Mean   :42.5
 3rd Qu.:2011-12-05 18:00:20             3rd Qu.:51.0
 Max.   :2012-06-30 23:29:01             Max.   :80.0

 WITHDRAW_DATE                    PREF_NAME
 Min.   :2011-07-07 19:51:30           :7256
 1st Qu.:2011-10-03 01:18:37   東京都  :2830
 Median :2011-12-09 03:02:11   神奈川県:1653
 Mean   :2011-12-11 20:43:07   大阪府  :1638
 3rd Qu.:2012-02-05 17:51:09   愛知県  : 938
 Max.   :2012-07-01 10:54:20   兵庫県  : 879
 NA's   :21951                 (Other) :7679
                           USER_ID_hash
 0000b53e182165208887ba65c079fc21:    1
 00035b86e6884589ec8d28fbf2fe7757:    1
 0005b1068d5f2b8f2a7c978fcfe1ca06:    1
 000cc06982785a19e2a2fdb40b1c9d59:    1
 0013518e41c416cd6a181d277dd8ca0b:    1
 001acdee812a18acfd7509172bed5700:    1
 (Other)                         :22867